@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
/* ---------------- Main Container ----------------- */
.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(187, 187, 245);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ---------------- Card ----------------- */
.card {
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    perspective: 1000px;
}
/* ---------------- Inner Card ----------------- */
.inner-card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}
/* ---------------- Card Front and Back ----------------- */
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 100, 0.8), rgba(0, 0, 100, 0.8)),url('https://images.unsplash.com/photo-1498758536662-35b82cd15e29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80');
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
}
/* ---------------- Card Back ----------------- */
.card-back {
    transform: rotateY(180deg);
}
/* ---------------- Card > h2 ----------------- */
.card h2 {
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
/* ---------------- Input Box ----------------- */
.input-box {
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}
/* ---------------- Input Box > Placeholder ----------------- */
::placeholder {
/*     color: #fff; */
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
}
/* ---------------- Input Box > Show/Hide Password ----------------- */
::-ms-reveal {
    filter: invert(100%);
}
/* ---------------- Button ----------------- */
button {
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 12px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
}
/* ---------------- Submit Button (Login/Signup) ----------------- */
.submit-btn {
    position: relative;
}
/* ---------------- Submit Button > After ----------------- */
.submit-btn::after {
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
}
span {
    font: 13px;
    margin-left: 10px;
}
.card .btn {
margin-top: 70px;
}
.card a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
}



